/* font-family: 'Merienda', cursive;
font-family: 'Manjari', sans-serif;
font-family: 'Yeon Sung', cursive; */

body {
  font-family:'Manjari', sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/portfolio-background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: .92;
}

* {
  box-sizing: border-box;
}

.card {
  border: none;
  background-color: transparent;
}

p {
  padding: 1rem;
  color: black;
  text-align: justify;
}

#main-container {
  padding-bottom: 2rem;
  flex: 1;
  border-radius: 18px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

footer {
  clear: both;
  font-size: 12px;
  color: white;
  text-align: center;
  background: maroon;
  border-top: 8px solid black;
  height: 50px;
  margin-top: 2rem;
}

#name-tag {
  color: #ffffff;
  font-family: 'Merienda', cursive;
  font-size: 48px;
  padding: 1rem 4rem;
}

a {
  color: white;
}

.card-img-top {
  border-radius: 18px;
  height: 10rem;
}

.card-text:last-child {
  text-align: center;
}

.w-100 {
  height: 280px;
  border-radius: 36px;
  padding: 1rem;
}

#profile-picture {
  height: 150px;
  width: 150px;
  margin-left: 25rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: maroon;
  margin-right: 25rem;
  margin-bottom: 3rem;
}

#profile-name {
  width: 100%;
  text-align: center;
  margin-bottom: 6rem;
}

.tech-pics {
  height: 100px;
  width: 100px;
  margin-right: 2rem;
}

.intro-me {
  margin-top: 5rem;
}

#about-me {
  padding: 5rem;
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 7rem;
  background: maroon;
  color: white;
}

.technology-me{
  padding: 1rem;
}

.project-cards {
  background: whitesmoke;
  border-radius: 18px;
  text-align: center;
  margin-left: 3%;
  border-style: solid;
  border-color: maroon;
  border-width: 5px;
}

.list-group {
  background: maroon;
}

.btn-dark {
  padding: 3%;
}

#carouselExampleIndicators {
  width: 50%;
  margin-left: 25%;
  margin-top: 5rem;
  text-align: center;
  background: whitesmoke;
  border-radius: 18px;
  padding: 1rem;
  color: black;
  border-style: solid;
  border-color: maroon;
  border-width: 5px;
}

.carousel-indicators {
  bottom: -10%;
}

.project-button {
  font-size: 1rem;
}

#full-width {
  margin-left: -17rem;
  min-width: 99.5vw;
}

#contact-information {
  padding: 2rem;
  margin-top: 7rem;
  text-align: center;
  background: maroon;
  color: white;
  padding-bottom: 5rem;;
}

.form-group {
  width: 40%;
  margin-left: 30%;
  margin-top: 2rem;
}

textarea.form-control {
  height: 250px;
}

#contact-images {
  height: 60px;
  margin-right: 2rem;
}

#contact-images-linked {
  height: 75px;
  margin-right: 2rem;
}

#contact-me {
  padding: 2rem;
}

/* Media Queries */

@media screen and (max-width: 1450px) {
  body {
    background-size: cover;
  }
}

@media screen and (max-width: 980px) {
  body {
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-size: cover;
  }
}

@media screen and (max-width: 640px) {
  body {
    background-size: cover;
  }
}

@media screen and (max-width: 375px) {
  body {
    background-size: cover;
  }
}