/* font-family: 'Merienda', cursive;
font-family: 'Manjari', sans-serif;
font-family: 'Yeon Sung', cursive; */

body {
  font-family:'Manjari', sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/portfolio-background.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: .92;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.card {
  border: none;
  background-color: transparent;
}

.w-100 {
  height: 14rem;
  width: 100%;
}

p {
  padding: 1rem;
  color: black;
  text-align: justify;
}

#main-container {
  padding-bottom: 2rem;
  flex: 1;
  border-radius: 18px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container {
  min-width: 100%;
  clear: both;
  padding-right: 0;
  padding-left: 0;
}

footer {
  clear: both;
  font-size: 12px;
  color: white;
  text-align: center;
  background: maroon;
  border-top: 5px solid black;
  height: 50px;
  margin-top: 2rem;
}

#name-tag {
  color: #ffffff;
  font-family: 'Merienda', cursive;
  font-size: 48px;
  padding: 1rem 4rem;
}

a {
  color: white;
}

.card-img-top {
  border-radius: 18px;
  height: 10rem;
  margin-top: 3%;
  width: 98%;
  margin-left: 1%;
}

.card-text:last-child {
  text-align: center;
}

#profile-picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: maroon;
  margin-bottom: 3rem;
}

#profile-name {
  width: 100%;
  text-align: center;
  margin-bottom: 6rem;
}

.tech-pics {
  height: 100px;
  width: 100px;
  margin-right: 2rem;
}

.intro-me {
  margin-top: 5rem;
  text-align: center;
}

#about-me {
  padding: 5rem;
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 7rem;
  background: maroon;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-right: 0;
  border-left: 0;
}

.technology-me{
  padding: 1rem;
  text-align: center;
}

.project-cards {
  background: whitesmoke;
  border-radius: 18px;
  text-align: center;
  margin-left: 6%;
  border-style: solid;
  border-color: maroon;
  border-width: 5px;
}

.list-group {
  background: maroon;
}

.btn-dark {
  width: 100%;
  margin-top: 3%;
}

#carouselExampleIndicators {
  width: 50%;
  margin-left: 25%;
  margin-top: 5rem;
  text-align: center;
  background: whitesmoke;
  border-radius: 18px;
  padding: 1rem;
  color: black;
  border-style: solid;
  border-color: maroon;
  border-width: 5px;
}

.carousel-indicators {
  bottom: -10%;
}

.project-button {
  font-size: 1rem;
}

#contact-information {
  padding: 2rem;
  margin-top: 7rem;
  text-align: center;
  background: maroon;
  color: white;
  padding-bottom: 5rem;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-right: 0;
  border-left: 0;
}

.form-group {
  width: 40%;
  margin-left: 30%;
  margin-top: 2rem;
}

.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

.col-12 {
  padding-left: 0;
  padding-right: 0;
}

#contact-images {
  height: 60px;
  margin-right: 2rem;
}

#contact-images-linked {
  height: 75px;
  margin-right: 2rem;
}

#contact-me {
  padding: 2rem;
}

/* Media Queries */

@media (max-width: 1200px) {
  body {
    background-size: 200%;
  }
}

@media (max-width: 800px) {
  body {
    background-size: 200%;
  }
  .project-cards {
    min-width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }
  .tech-pics {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    background-size: auto;
  }
  .project-cards {
    margin-left: 0;
    margin-top: 5%;
    min-width: 100%;
  }
  #carouselExampleIndicators {
    width: 100%;
    margin-left: 0;
  }
  #contact-images-linked {
    height: 75px;
    margin-right: 10%;
    width: 35%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  #contact-images {
    height: 60px;
    margin-right: 10%;
    width: 30%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  .tech-pics {
    margin-top: 1rem;
  }
}

@media (max-width: 380px) {
  body {
    background-size: cover;
  }
  .project-cards {
    margin-left: 0;
    min-width: 100%;
    margin-top: 5%;
  }
  #carouselExampleIndicators {
    width: 100%;
    margin-left: 0;
  }
  #contact-images-linked {
    height: 75px;
    margin-right: 10%;
    width: 35%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  #contact-images {
    height: 60px;
    margin-right: 10%;
    width: 30%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  .tech-pics {
    margin-top: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
